/*
회원가입 css
*/

@font-face {
    font-family: "HMFMMUEX";
    src: url(../fonts/HMFMMUEX.TTC);
}

@font-face {
    font-family: "nanumgothic-bold";
    src: url(../fonts/NanumGothicBold.ttf);
}

html, body{
    font-family: "HMFMMUEX";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

header {
    padding-top: 100px;
    padding-left: 12px;
    color : rgb(172, 164, 211)
}

select {
    border: 0.68mm rgb(172, 164, 211) solid;
    border-radius: 5px;
    text-align: center;
}

input::placeholder {
    font-family: "nanumgothic-bold";
    color: rgb(195,195,195);
}

/* 공통 */
.hidden {
    display: none;
}

.green_font {
    color: rgb(63,213,81);
}


/* 아직 모르는거 */
.header_inner {
    width: 605px;
    margin: 0 auto;
    font-size: 60px;
}

.header_inner > h1 {
    margin: 0;
}

.regist_wrap{
    color : rgb(68,68,68);
    width: 400px;
    height: fit-content;
    margin: 0 auto;
    border: 0.68mm rgb(178, 188, 220, 0.5) solid;
    border-radius: 5px;
    padding: 100px;
}

.tag {
    font-size: 22px;
    margin-bottom: 8px;
}

.input_row, .email_row{
    width: 100%;
    border-bottom: 2px solid  rgb(172, 164, 211);
    margin-bottom: 30px;
}

.pw_row, .id_row {
    width: 100%;
    border-bottom: 2px solid  rgb(172, 164, 211);
}

.err_msg {
    color: rgb(235,38,38);
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.chk_box {
    color: rgb(195,195,195);
}

.select_row {
    width: 100%;
    margin-bottom: 30px;
}

.input_row input, .pw_row input {
    font-family: "nanumgothic-bold";
    border: 0;
    width: 100%;
    font-size: 18px;
    color: rgb(68,68,68);
    padding: 0px;
}

.id_row input {
    font-family: "nanumgothic-bold";
    border: 0;
    width: 266px;
    font-size: 18px;
    color: rgb(68,68,68);
}

.email_row input {
    font-family: "nanumgothic-bold";
    border: 0;
    width: 207px;
    font-size: 18px;
    color: rgb(68,68,68);
}

.email_adress {
    font-family: "nanumgothic-bold";
    font-size: 18px;
    color: rgb(68,68,68);
    width: 180px;
    margin-bottom: 1px;
}

.small_button{
    font-family: "nanumgothic-bold";
    width: 120px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(178, 188, 220);
    font-size: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.select_row select {
    font-family: "nanumgothic-bold";
    font-size: 18px;
}

.medium_button {
    font-family: "HMFMMUEX";
    border: 2px solid  rgb(178, 188, 220);
    width: 48%;
    border-radius: 5px;
    color: white;
    background-color: rgb(178, 188, 220);
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}

.medium_button_white {
    font-family: "HMFMMUEX";
    border: 2px solid  rgb(178, 188, 220);
    width: 48%;
    border-radius: 5px;
    color: rgb(68,68,68);
    background-color: white;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-bottom: 1px;
}

.year{
    width: 40%;
    font-weight: 100;
}
.month, .day{
    width : 25%;
    font-weight: 100;
}